
<h4>Login</h4>
<div class="card mt-4">
    <div class="card-body">
        <form action="/usuarios/login" method="post">
            <label for="email">Email: </label>
                <input type="email" name="email" class="form-control" required>
                <br>
            <label for="senha">Senha: </label>
                <input type="password" name="senha" class="form-control" required>
            <button type="submit" class="btn btn-success mt-2">Entrar</button>
        </form>
    </div>
</div>