<div class="card">
    <div class="card-body">
        <h1>{{postagem.titulo}}</h1>
        <hr>
        <small>Data de publicação: {{postagem.data}}</small>    
        <hr>
        <h4>Conteúdo:</h4>
        <p>{{postagem.conteudo}}</p>
    </div>
</div>
